In [55]:
import random
import csv

##7 digit key value
with open(r"D:\Users\kramanathan\Downloads\generated_values.csv",'w') as f:
    out=csv.writer(f)
    key=['fin_record_key','fin_debit_credit_ind','fin_company_id','fin_trans_dt','fin_source_amt','fin_acct_num']
    out.writerow(key)



# def write_to_specific_column(file_path, column_index, data):
#     existing_data = []
#     with open(file_path, 'r', newline='') as file:
#         csv_reader = csv.reader(file)
#         existing_data = []
#         for row in csv_reader:
#             existing_data.append(row)

#     for i, row in enumerate(existing_data):
#         if i < len(data):  # Ensure we don't index out of bounds
#             row[column_index] = data[i]

#     with open(file_path, 'w', newline='') as file:
#         csv_writer = csv.writer(file)
#         csv_writer.writerows(existing_data)

file_path = 'generated_values.csv'
column_index = 0
lst0=[]
for i in range(100):
    new=random.randint(1000000,9999999)
    if new in lst0:
        i=i-1
    else:
        lst0.append(new)
print(lst0)
# write_to_specific_column(file_path, column_index, lst)

column_index = 1
lst1=[]
for i in range(100):
    new=random.randint(0,1)
    if new==0:
        lst1.append('c')
    else:
        lst1.append('d')
print(lst1)
column_index = 2
lst2=[]
for i in range(100):
    new=random.randint(0,1)
    if new==0:
        lst2.append(1936)
    else:
        lst2.append(2001)
# write_to_specific_column(file_path, column_index, list)
print(lst2)


lst3=[]
for i in range(100):
    new=random.uniform(1.0,500.0)
    new=round(new,2)
    lst3.append(new)
print(lst3)

lst4=[]
for i in range(100):
    new=random.randint(0,2)
    if new==0:
        lst4.append(4929173901234567)
    elif new==1:
        lst4.append(6011231234567890)
    else:
        lst4.append(3782891012345678)
# write_to_specific_column(file_path, column_index, list)
print(lst4)


##credit c 11 debit d 10

##company id repetitive 4 digits

##transaction date

##source amt

##act number 16 digit give specified values 2 or 3

[5407538, 7155059, 2306600, 3506481, 1382939, 5978062, 6641660, 1021836, 6766106, 6862064, 2746181, 8658514, 6150561, 2731192, 1640107, 1581388, 2986517, 9399770, 4941412, 8898603, 7879994, 9915620, 2869414, 7577661, 5754439, 2101524, 3148197, 2616289, 9395863, 4725749, 1108666, 1951030, 4607450, 5225628, 5846370, 9776670, 1105511, 9374365, 1116414, 3378409, 9888632, 3994819, 8865843, 6853889, 7185068, 8032118, 2382765, 1791286, 1688944, 2316672, 7562713, 4369339, 3105564, 9779668, 7328560, 9833795, 7975748, 7971679, 5659417, 1481181, 7253219, 4674596, 8142191, 1512599, 1596120, 6157644, 9448698, 1806120, 6653902, 4821897, 5856844, 4962964, 1098511, 4244442, 9376154, 3151858, 8724196, 7934177, 4556749, 2395094, 7968484, 8659427, 6930392, 3129535, 7924003, 3248973, 2898350, 3057485, 9197226, 1039012, 4247216, 9411207, 5441294, 1596967, 8275990, 5977326, 9057205, 2470628, 4949709, 2651983]
['c', 'c', 'd', 'c', 'd', 'c', 'c', 'c', 'c', 'c', 'c', 'd', 'c', 'd', 'd', 'd', 'd', 'c', 'd', 'd', 'c', 'c', 'd', 'd', 'd', 'd', 'd', 'c', 'd', 'd', 'c', 'c', 'd', 'c', 'c', 'c', 'd', 'c', 'c', 'c', 'c', 'd', 'd', 'c', 'd', 'd', 'c', 'd', 'c', 'd', 'd', 'd', 'c', 'd', 'd', 'd', 'd', 'd', 'c', 'd', 'd', 'd', 'c', 'd', 'c', 'c', 'c', 'c', 'd', 'd', 'd', 'd', 'd', 'c', 'd', 'd', 'd', 'c', 'c', 'c', 'd', 'c', 'd', 'c', 'd', 'd', 'c', 'c', 'd', 'd', 'c', 'c', 'c', 'd', 'c', 'd', 'c', 'c', 'c', 'c']
[1936, 2001, 1936, 1936, 2001, 1936, 2001, 1936, 2001, 1936, 2001, 2001, 1936, 2001, 1936, 2001, 2001, 1936, 1936, 2001, 2001, 2001, 1936, 2001, 1936, 2001, 2001, 1936, 1936, 2001, 1936, 1936, 1936, 2001, 2001, 2001, 1936, 1936, 2001, 1936, 1936, 2001, 2001, 2001, 2001, 1936, 1936, 1936, 2001, 1936, 2001, 2001, 1936, 1936, 2001, 2001, 2001, 1936, 2001, 1936, 1936, 1936, 2001, 1936, 2001, 1936, 2001, 2001, 2001, 2001, 1936, 1936, 2001, 2001, 2001, 1936, 1936, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 1936, 1936, 2001, 2001, 2001, 2001, 1936, 1936, 1936, 2001, 1936, 1936, 2001, 1936, 2001, 1936]
[314.7, 497.85, 288.26, 212.97, 120.76, 261.85, 289.46, 229.67, 155.06, 49.57, 346.87, 481.27, 313.98, 96.56, 31.24, 203.27, 401.49, 267.58, 206.83, 114.4, 256.94, 424.27, 125.65, 121.31, 185.0, 209.64, 106.58, 305.97, 16.02, 424.18, 192.97, 393.9, 17.96, 392.97, 260.36, 297.27, 6.57, 191.31, 210.7, 64.11, 456.73, 62.67, 100.57, 348.7, 98.61, 83.57, 317.04, 494.57, 107.94, 346.92, 248.6, 472.59, 256.37, 227.29, 144.61, 381.03, 441.71, 70.14, 93.58, 302.18, 59.04, 97.0, 39.77, 7.33, 135.14, 413.3, 109.0, 429.06, 80.19, 323.53, 255.16, 25.74, 216.52, 382.35, 113.04, 9.66, 185.98, 75.76, 78.33, 466.24, 82.39, 218.42, 27.95, 204.96, 218.67, 402.73, 439.13, 376.76, 397.84, 103.3, 142.66, 377.85, 62.42, 212.14, 50.04, 154.2, 457.26, 65.34, 272.38, 148.98]
[6011231234567890, 3782891012345678, 4929173901234567, 4929173901234567, 3782891012345678, 3782891012345678, 6011231234567890, 4929173901234567, 6011231234567890, 6011231234567890, 4929173901234567, 3782891012345678, 3782891012345678, 6011231234567890, 3782891012345678, 4929173901234567, 4929173901234567, 4929173901234567, 6011231234567890, 4929173901234567, 6011231234567890, 3782891012345678, 3782891012345678, 6011231234567890, 4929173901234567, 6011231234567890, 3782891012345678, 3782891012345678, 3782891012345678, 3782891012345678, 4929173901234567, 6011231234567890, 3782891012345678, 3782891012345678, 3782891012345678, 6011231234567890, 3782891012345678, 4929173901234567, 6011231234567890, 6011231234567890, 4929173901234567, 4929173901234567, 6011231234567890, 3782891012345678, 3782891012345678, 4929173901234567, 3782891012345678, 3782891012345678, 3782891012345678, 6011231234567890, 4929173901234567, 3782891012345678, 6011231234567890, 4929173901234567, 6011231234567890, 3782891012345678, 6011231234567890, 3782891012345678, 3782891012345678, 3782891012345678, 4929173901234567, 3782891012345678, 6011231234567890, 3782891012345678, 6011231234567890, 3782891012345678, 4929173901234567, 6011231234567890, 3782891012345678, 6011231234567890, 3782891012345678, 3782891012345678, 3782891012345678, 4929173901234567, 4929173901234567, 3782891012345678, 3782891012345678, 3782891012345678, 4929173901234567, 4929173901234567, 4929173901234567, 6011231234567890, 4929173901234567, 6011231234567890, 3782891012345678, 3782891012345678, 3782891012345678, 3782891012345678, 6011231234567890, 4929173901234567, 4929173901234567, 4929173901234567, 6011231234567890, 4929173901234567, 3782891012345678, 4929173901234567, 4929173901234567, 3782891012345678, 3782891012345678, 4929173901234567]

In [56]:
from datetime import datetime, timedelta
import random

def generate_random_dates(start_date, end_date, num_dates):
    # Convert start_date and end_date strings to datetime objects
    start_datetime = datetime.strptime(start_date, '%Y-%m-%d')
    end_datetime = datetime.strptime(end_date, '%Y-%m-%d')

    # Calculate the total number of days in the date range
    total_days = (end_datetime - start_datetime).days

    # Generate random dates within the range
    random_dates = []
    for _ in range(num_dates):
        random_offset = random.randint(0, total_days)  # Random offset in days
        random_date = start_datetime + timedelta(days=random_offset)
        random_dates.append(random_date.strftime('%Y-%m-%d'))

    return random_dates

# Date range
start_date = '2024-02-01'
end_date = '2024-10-10'
num_dates = 100

random_dates = generate_random_dates(start_date, end_date, num_dates)
print(random_dates)

['2024-10-10', '2024-09-10', '2024-04-14', '2024-09-27', '2024-06-16', '2024-03-06', '2024-04-02', '2024-06-17', '2024-02-26', '2024-06-01', '2024-04-26', '2024-05-18', '2024-04-18', '2024-07-06', '2024-03-17', '2024-04-24', '2024-08-22', '2024-05-16', '2024-02-29', '2024-09-03', '2024-07-18', '2024-08-11', '2024-02-01', '2024-02-29', '2024-03-30', '2024-02-29', '2024-08-04', '2024-08-19', '2024-06-25', '2024-04-08', '2024-08-12', '2024-08-06', '2024-08-25', '2024-05-06', '2024-08-01', '2024-08-01', '2024-02-24', '2024-08-26', '2024-09-28', '2024-05-22', '2024-08-29', '2024-10-06', '2024-04-13', '2024-06-02', '2024-08-30', '2024-05-16', '2024-04-26', '2024-10-07', '2024-07-16', '2024-06-28', '2024-08-29', '2024-03-25', '2024-04-05', '2024-03-21', '2024-09-26', '2024-03-25', '2024-10-06', '2024-07-04', '2024-05-31', '2024-08-28', '2024-05-22', '2024-03-22', '2024-06-16', '2024-09-12', '2024-04-13', '2024-09-19', '2024-05-27', '2024-05-20', '2024-08-10', '2024-09-17', '2024-02-25', '2024-05-13', '2024-05-13', '2024-04-25', '2024-06-19', '2024-07-14', '2024-06-09', '2024-06-08', '2024-07-27', '2024-02-11', '2024-02-04', '2024-02-25', '2024-07-21', '2024-08-29', '2024-06-02', '2024-07-02', '2024-04-19', '2024-08-15', '2024-04-12', '2024-05-27', '2024-05-29', '2024-09-25', '2024-07-02', '2024-04-01', '2024-07-31', '2024-04-29', '2024-09-22', '2024-09-23', '2024-08-09', '2024-03-14']

In [57]:
with open(r"D:\Users\kramanathan\Downloads\generated_values.csv",'a') as f:
    out=csv.writer(f)
    for i in range(100):
        key=[]
        key.append(lst0[i])
        key.append(lst1[i])
        key.append(lst2[i])
        key.append(random_dates[i])
        key.append(lst3[i])
        key.append(lst4[i])
                
        out.writerow(key)

In [1]:
import pandas as pd

df=pd.read_csv(r"D:\Users\kramanathan\Downloads\generated_values.csv")
print(df)

    fin_record_key fin_debit_credit_ind  fin_company_id fin_trans_dt  \
0          5407538                    c            1936   2024-10-10
1          7155059                    c            2001   2024-09-10
2          2306600                    d            1936   2024-04-14
3          3506481                    c            1936   2024-09-27
4          1382939                    d            2001   2024-06-16
..             ...                  ...             ...          ...
95         5977326                    d            1936   2024-04-29
96         9057205                    c            2001   2024-09-22
97         2470628                    c            1936   2024-09-23
98         4949709                    c            2001   2024-08-09
99         2651983                    c            1936   2024-03-14

    fin_source_amt      fin_acct_num
0           314.70  6011231234567890
1           497.85  3782891012345678
2           288.26  4929173901234567
3           212.97  4929173901234567
4           120.76  3782891012345678
..             ...               ...
95          154.20  4929173901234567
96          457.26  4929173901234567
97           65.34  3782891012345678
98          272.38  3782891012345678
99          148.98  4929173901234567

[100 rows x 6 columns]

D:\Users\kramanathan\AppData\Local\Temp\ipykernel_20820\3142662317.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
from statsmodels.tsa.arima.model import ARIMA

In [3]:
df['fin_trans_dt'] = pd.to_datetime(df['fin_trans_dt'])
result = df.groupby([df['fin_trans_dt'].dt.to_period('M'), 'fin_company_id']).agg({'fin_source_amt': 'sum', 'fin_company_id': 'count'}).rename(columns={'fin_source_amt': 'Sum_amt', 'fin_company_id': 'Count'}).reset_index()

In [4]:

result

   fin_trans_dt  fin_company_id  Sum_amt  Count
0       2024-02            1936   594.21      4
1       2024-02            2001  1253.06      6
2       2024-03            1936   951.36      6
3       2024-03            2001   853.62      2
4       2024-04            1936  1329.85      5
5       2024-04            2001  2930.95     10
6       2024-05            1936   642.70      6
7       2024-05            2001  1825.70      7
8       2024-06            1936  1046.83      6
9       2024-06            2001   698.03      5
10      2024-07            1936   594.99      5
11      2024-07            2001   567.72      5
12      2024-08            1936  1861.02      7
13      2024-08            2001  2771.47     11
14      2024-09            1936  1076.79      5
15      2024-09            2001  1748.35      6
16      2024-10            1936   809.27      2
17      2024-10            2001   504.38      2

In [5]:
df['fin_trans_dt'] = pd.to_datetime(df['fin_trans_dt'])

In [6]:
# Filter data for training (months 2 to 8)
train_data = result[(result['fin_trans_dt'].dt.month >= 2) & (result['fin_trans_dt'].dt.month <= 8)]

# Filter data for testing (months 8 and above)
test_data = result[~((result['fin_trans_dt'].dt.month >= 2) & (result['fin_trans_dt'].dt.month <= 8))]

In [7]:
# Reset index of train_data and test_data
train_data.reset_index(drop=True, inplace=True)
test_data.reset_index(drop=True, inplace=True)

In [8]:
train_data

   fin_trans_dt  fin_company_id  Sum_amt  Count
0       2024-02            1936   594.21      4
1       2024-02            2001  1253.06      6
2       2024-03            1936   951.36      6
3       2024-03            2001   853.62      2
4       2024-04            1936  1329.85      5
5       2024-04            2001  2930.95     10
6       2024-05            1936   642.70      6
7       2024-05            2001  1825.70      7
8       2024-06            1936  1046.83      6
9       2024-06            2001   698.03      5
10      2024-07            1936   594.99      5
11      2024-07            2001   567.72      5
12      2024-08            1936  1861.02      7
13      2024-08            2001  2771.47     11

In [9]:
test_data

  fin_trans_dt  fin_company_id  Sum_amt  Count
0      2024-09            1936  1076.79      5
1      2024-09            2001  1748.35      6
2      2024-10            1936   809.27      2
3      2024-10            2001   504.38      2

In [10]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA


# Function to fit ARIMA model for each company
def fit_arima(df):
    # Initialize lists to store predictions
    count_predictions = []
    avg_sales_predictions = []

    # Loop over each company
    for company_id, company_data in df.groupby('fin_company_id'):
        # Fit ARIMA model for count
        count_model = ARIMA(company_data['Count'], order=(5,1,0))
        count_model_fit = count_model.fit()

        # Fit ARIMA model for avg_sales
        avg_sales_model = ARIMA(company_data['Sum_amt'], order=(5,1,0))
        avg_sales_model_fit = avg_sales_model.fit()

        # Predict next month's count and average sales
        count_pred = count_model_fit.forecast(steps=2)
        avg_sales_pred = avg_sales_model_fit.forecast(steps=2)

        # Append predictions to lists
        count_predictions.append((company_id, count_pred))
        avg_sales_predictions.append((company_id, avg_sales_pred))

    return count_predictions, avg_sales_predictions

# Train ARIMA models and make predictions on test data
count_preds, avg_sales_preds = fit_arima(train_data)

D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\statespace\sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\statespace\sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\statespace\sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(
D:\Users\kramanathan\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

In [13]:
print(count_preds)

[(1936, 7    5.245895
8    7.563861
Name: predicted_mean, dtype: float64), (2001, 7    4.866728
8    1.963703
Name: predicted_mean, dtype: float64)]

In [14]:
print(avg_sales_preds)

[(1936, 7     633.216057
8    1599.203353
Name: predicted_mean, dtype: float64), (2001, 7    1778.065040
8    1819.963637
Name: predicted_mean, dtype: float64)]

In [15]:
test_data

  fin_trans_dt  fin_company_id  Sum_amt  Count
0      2024-09            1936  1076.79      5
1      2024-09            2001  1748.35      6
2      2024-10            1936   809.27      2
3      2024-10            2001   504.38      2